@import "purecss";
@import "pure-extras";
@import "./modules/vars";
body {

  background: var(--color-back);
  color:var(--color-front);
  margin:50px;
}
body * {
	  box-sizing: border-box;;
}
.App {
	inherit: .pure-g;
}
.List {
	inherit: .pure-thumbnails; 
	inherit: .pure-u-2-5;
	max-height: 100%;
	border:1px solid var(--color-front);
	min-height: 20px;
}
.List-item {
	display: block!important;
}

.Viewer {
	inherit: .pure-u-3-5;
	border:1px solid var(--color-front);
	display: inline-block;
	min-height: 20px;
}
.SmallImage {
	 display: block;
}
.SmallImage-img {
	inherit: .pure-thumb;
	inherit: .pure-thumb-rounded;
}