<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>{{title}}</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="stylesheet" type='text/css' href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css"/>
    <link rel="stylesheet" href="/components/pure-extras.css"/>
    <link rel="stylesheet" href="/components/pure-typography.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" src="/js/require.js" ></script>
    <script>
    require.config({
    baseUrl: 'js/',
    paths: {
        // the left side is the module ID,
        // the right side is the path to
        // the jQuery file, relative to baseUrl.
        // Also, the path should NOT include
        // the '.js' file extension. This example
        // is using jQuery 1.9.0 located at
        // js/lib/jquery-1.9.0.js, relative to
        // the HTML page.
        jquery: 'lib/jquery',
        hammer: 'lib/hammer'
    }
});
    </script>
</head>
<body>
    <div id="mainnav" class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed"> 
        <ul class="pure-menu">
            <li class="pure-menu-active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Other</a>
            </li>
        </ul>
    </div>
    {{{body}}}
</body>
</html>
