<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/libs/react-with-addons.js"></script>
    <script src="/js/libs/JSXTransformer.js"></script>
  </head>
  <body>


        <script type="text/jsx;harmony=true" src="/js/app/components/cakewalk.jsx"></script>
        <script type="text/jsx;harmony=true" src="/js/app/components/list.jsx"></script>
        <script type="text/jsx;harmony=true" src="/js/app/components/small-image.jsx"></script>
        <script type="text/jsx;harmony=true" src="/js/app/components/viewer.jsx"></script>
        <script type="text/jsx" src="/js/app/app.jsx"></script>
  </body>
</html>
