<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script>
    	<%- state %>
    </script>
  </head>
  <body>
    <div id="container"></div>

        <script src="/js/app.js"></script>
  </body>
</html>
