/* line 1, ../../sass/_gallery.scss */
.gallery-shim {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

/* line 10, ../../sass/_gallery.scss */
.gallery {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  white-space: nowrap;
  width: 100%;
  height: 913px;
  overflow: hidden;
}
/* line 20, ../../sass/_gallery.scss */
.gallery .contentBox {
  transition: all 0.5s ease;
  position: relative;
}
/* line 25, ../../sass/_gallery.scss */
.gallery .image-pane {
  position: relative;
  display: inline-block;
  min-width: 1024px;
}
/* line 29, ../../sass/_gallery.scss */
.gallery .image-pane img {
  vertical-align: middle;
}

/* line 2, ../../sass/style.scss */
body {
  font-family: sans-serif;
  color: #777;
}

/* line 6, ../../sass/style.scss */
.header {
  min-height: 80px;
  margin: 0;
  color: #fff;
  padding: 50px 20px 30px;
  text-align: center;
  border-bottom: 1px solid #eee;
}
/* line 13, ../../sass/style.scss */
.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  color: #4d4d4d;
  font-weight: 100;
}
/* line 19, ../../sass/style.scss */
.header h2 {
  font-weight: 300;
  margin: 0;
  color: #b8b8b8;
}

/* line 25, ../../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

/* line 30, ../../sass/style.scss */
.content {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 50px;
}
/* line 34, ../../sass/style.scss */
.content h1 {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 37, ../../sass/style.scss */
.content h2 {
  color: #4b4b4b;
  margin: 50px 0 20px 0;
  font-weight: bold;
}
/* line 42, ../../sass/style.scss */
.content p {
  line-height: 1.6em;
  font-size: 115%;
}

/* line 48, ../../sass/style.scss */
#headerMenu, #headerMenu ul {
  background: #111;
}
/* line 52, ../../sass/style.scss */
#headerMenu a:hover {
  background: #222;
  border-color: #222;
}
/* line 56, ../../sass/style.scss */
#headerMenu a {
  color: #fff;
  text-shadow: none;
}
/* line 60, ../../sass/style.scss */
#headerMenu .yui3-menu-active {
  background: #222;
}

@media (max-width: 767px) {
  /* line 66, ../../sass/style.scss */
  #headerMenu {
    position: relative;
  }

  /* line 69, ../../sass/style.scss */
  #headerMenu ul {
    text-align: center;
  }

  /* line 72, ../../sass/style.scss */
  #headerMenu a {
    font-size: 80%;
  }

  /* line 76, ../../sass/style.scss */
  .content {
    width: 95%;
  }
}
